@{
    ViewData["Title"] = "Home Page";
}

<div class="container border text-center mh-100" style="height: 80vh">
    <div class="fs-2">
        Welcome to <span style="color: #fd7e14">Stack<strong>KnowledgeBase</strong></span>.
    </div>
    <div class="pt-4 fs-6">
        Type your search text in the text box above to search relevant posts from StackOverflow Database snapshot.
    </div>
</div>
